

// MARGINS && PADDINGS
$vertical-property-map: (
    mt: margin-top,
    mb: margin-bottom,
    pt: padding-top,
    pb: padding-bottom,
);
$sizes-list: 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100;

@each $size in $sizes-list {
  $val: $size + 0px;
  @each $keyword, $property in $vertical-property-map {
    .#{$keyword}#{$size} {
      #{$property}: $val !important;
    }
  }
}

// KEYFRAMES
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}